.gameboy{
    display: flex;
    justify-content: center;
    
    
}
body{
    
    background-color: black;
}
 .tamagotchi{
    position: absolute;
    z-index: 2;
    top: 144px;
    width: 200px;
    
 }
.gb{
    width: 290px;
}
.beat{
    position: absolute;
    top: 480px;
    right: 565px;
}
.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    color:rgb(0, 0, 0);
    }   
    
    .status-bar{
        display: flex;
        gap: 30px;
        font-size: 2em;
        position: absolute;
        top: 43px;
        z-index: 3;
    }
    .house{
        width: 732px;
        position: absolute;
        top:-131px;
        left: 255px;
    }
    .heart{
        width: 206px;
        position: absolute;
        bottom: 334px;
        left: 499px;
        z-index: 2;
    }