.gameboy{
    display: flex;
    justify-content: center;
    z-index: 1;
    
}
body{
    
    background-color: black;
}
 .tamagotchi{
    position: absolute;
    z-index: 2;
    top: 85px;
    
 }
.gb{
    width: 290px;
}
.beat{
    position: absolute;
    top:483px;
    right: 570px;
}